* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 10px;
}
#header {
    width: 98%;
    height: 92px;
    background-color: white;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 10px;
    right: 10px;
    z-index: 999;
    padding: 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
#logo {
    font-size: 35px;
}
#buttonList {
    width: 412px;
    display: flex;
    align-items: center;
}
#buttonList > a {
    width: 108px;
    font-size: 18px;
    margin-top: 20px;
    color: rgb(93, 90, 136);
    text-decoration-line: none;
    padding: 5px 15px;
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(212, 210, 227);
    border-image: initial;
}
#buttonList > a:nth-child(1) {
    border-width: 0px;
}
#buttonList > a:nth-child(4) {
    background-color: rgb(186, 217, 239);
    color: white;
    border-width: 0px;
}
#main {
    margin-top: 92px;
}
#mainHeader {
    height: 38px;
    display: flex;
    justify-content: space-between;
}
#inputList {
    display: flex;
    align-items: center;
}
#mainContent {
    width: 70%;
    margin: auto;
}
.table {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
th {
    padding-left: 50px;
    padding-right: 150px;
    width: 100px;
    height: 30px;
}
td > input {
    width: 250px;
    height: 35px;
    font-size: 14px;
    background-color: rgb(240, 245, 249);
    opacity: 0.4;
    border-radius: 5px;
    border-width: 0px;
    padding: 10px;
}
#mainText {
    width: 100%;
    height: 600px;
    margin-top: 30px;
    font-size: 12px;
    background-color: rgb(206, 224, 236);
    opacity: 0.31;
    border-radius: 15px;
    border-width: 0px;
}